.App {
  text-align: center;
  /* background-color: #fdfbfb;  how do i get this fullscreen*/
  margin: 50px auto;
  /* max-width: 650px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (max-width: 600px) {
  .App {
    margin: 25px auto;
  }
}

.header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.about-me {
  text-align: left;
}

.about-me ol {
  list-style-type: none;
  padding: 0;
  font-style: italic;
  font-size: calc(2px + 2vmin);
}

@media (max-width: 600px) {
  .about-me h2 {
    text-align: center;
  }

  .about-me ol {
    font-size: calc(10px + 2vmin);
  }
}

.about-me li {
  margin-bottom: 15px;
}

.about-emoji {
  padding-right: 15px;
}

.img-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin-right: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

@media (max-width: 600px) {
  .img-container {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }
}

.subtitle {
  font-style: italic;
}

.links {
  margin-bottom: 25px;
}

.links a:not(:last-child) {
  padding: 0 25px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }

  .links a:not(:last-child) {
    padding: 0 10px 0 0;
  }
}

button {
  border: 3px solid #96979c;
  border-radius: 35px;
  box-sizing: border-box;
  color: #96979c;
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
  padding: 17px;
}